@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
 }

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(7);
    }
}

@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(7);
    }
}

@keyframes fall-down {
    0% {
        transform: translateY(-100vh);
    }

    80% {
        transform: translateY(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(7);
       // transform: rotate(20deg);
    }
}

@keyframes transistion-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}