// Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Thasadith');

$fontMain: 'Quicksand', sans-serif;
$fontCool: 'Thasadith', sans-serif;

// Colors

$redDark: #ff4757;
$redLight: #ff6b81;

$greenLight: #55efc4;
$greenMedium: #18ECC0;
$greenDark: #00b894;


$greyDark: #2C3A47;
$greyLight: #485460;

$white: #ffffff;