// Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Thasadith');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Staatliches');

$fontMain: 'Quicksand', sans-serif;
$fontTest1: 'Staatliches', cursive;
$fontTest2: 'Rock Salt', cursive;

// Colors

$redDark: #ff4757;
$redLight: #ff6b81;

$greenLight: #55efc4;
$greenMedium: #18ECC0;
$greenDark: #00b894;


$greyDark: #2C3A47;
$greyLight: #485460;

$white: #ffffff;


// Shadow - Glow

$textGreenGlow: .1rem .1rem 1rem $greenLight;
$boxShadow: 0 1.5rem 4rem rgba($greyDark, .15);